/* 
Matthew Tarpley
11/29/2022
*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
body {
    font-family: 'Playfair Display', serif;
    background-color:#FF0000;
    margin: 0;
    padding: 0;
}
header,
footer {
    background: #282009;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
}
h1 {
    font-weight: 900;
}
main,
aside {
    margin: 30px;
}
aside {
    background: #272727;
    color: #FFFFFF;
    padding: 30px;
}
.byline {
    font-family: Futura, sans-serif;
    font-style: italic;
}
p {
    font-size: 18px;
    margin: 30px 0;
}

@media screen and (min-width: 600px) {
    body {
    background: #0000FF;
    }
}

@media screen and (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 15px;
        justify-items: center;
    }
}

@media screen and (min-width: 1000px) {
    header { grid-area: header; }
    main { grid-area: main; }
    aside { grid-area: sidebar; }
    footer { grid-area: footer; }

    .wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "header header header header header"
        "main main main main sidebar"
        "footer footer footer footer footer"
    }
}