/*Matthew Tarpley
11.28.2022
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,500&display=swap');

.about {
    display: flex;
    justify-content: center;
}

.about p{
    text-align: center;
    font-size: 1.5em;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px darkgrey;
    padding: 25px;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    font-size: 2em;
}
